@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Recursive:wght@300..1000&display=swap');

/* General Styling / Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --darkTheme01: #101010;
  --darkTheme02: #151515;
  --darkTheme03: #1a1a1a;
  --darkTheme04: #1e1e1e;
  --darkTheme05: #242424;
  --darkTheme06: #3c3c3c;
  --darkTheme07: #858585;
  --darkTheme08: #dedede;

  --accentDarkBlue: #0c1020;
  --accentDarkOrange: #2d1304;
  --accentDarkPurple: #2e011d;
  --accentDarkPink: #6f0147;

  --accentMidPurple: #c165a3;
  --accentMidPink: #f80ea2;
  --accentMidOrange: #ff6106;
  --accentMidBrown: #652c0b;
  --accentMidBlue: #111835;
  --accentMidNavy: #2a3563;
  --accentMidLime: #9cb935;

  --accentLightPurple: #dcd8ec;
  --accentLightLime: #ddf096;
  --accentLightOrange: #ffbd96;
  --accentLightYellow: #ffe3b0;

  --accentVeryLightPink: #ffcfef;

  --accentStrongPurple: #ad99ff;
  --accentStrongGreen: #adff99;
}

main {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: sans-serif;
  background-color: var(--darkTheme03);
  color: var(--primaryColor);
}

button,
select,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

ul {
  list-style-type: none;
}

:is(h1, h2, h3, h4, h5, h6, li) {
  font-family: 'Azeret Mono';
  color: var(--accentLightPurple);
}

a {
  font-weight: 700;
  color: var(--accentMidPurple);
  text-underline-offset: 5px;
  font-family: 'Azeret Mono';
  transition: color 200ms ease-in-out;

  &:hover {
    color: var(--accentMidPink);
  }
}

main a {
  &:has(> svg) {
    display: flex;
    align-items: center;
  }
}

p {
  color: var(--accentLightPurple);
  font-family: 'Azeret Mono';
}

/* Embedded Figma Content */
.embeddedFigma {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 450px;
}

#tech-stack-wrapper {
  margin: 5rem 0 20rem;
  text-align: center;

  & h2 {
    margin: 0 0 4rem;
  }
}

#tech-stack-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 330px;
  column-gap: 3rem;
  justify-content: space-between;

  & .tech-container {
    position: relative;
    display: flex;
    justify-content: center;

    &:hover img {
      transform: translateY(-13px);
    }

    &:hover p {
      transform: translateY(30px);
      opacity: 1;
    }
  }

  & img {
    transition: all 400ms ease-in-out;
    /*height: fit-content; */
    margin: auto;
  }

  & .tech-p {
    font-size: 0.8rem;
    opacity: 0;
    transition: all 400ms ease-in-out;
    text-transform: capitalize;
    font-family: 'Azeret Mono';
    color: var(--accentLightPurple);
    position: absolute;
    transform: translateY(50px);
  }
}
#project-cards-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: 7rem 0 0;
}

/* Project List */
main:has(#projects-container) {
  min-height: 50vh;
}

header {
  padding: 2rem 0 0;
  text-align: center;

  & #logo img {
    width: 80px;
  }
}

/* Project Card Styling */
.project-card-container {
  display: flex;
  flex-direction: column;
  color: var(--darkTheme08);
  overflow: hidden;
  max-height: 300px;
  background-color: var(--darkTheme02);
  max-width: min-content;
  transition: filter 200ms ease-in-out;
  background-color: var(--darkTheme02);
  border: none;
  text-align: start;

  &:hover {
    cursor: pointer;
  }

  &:hover .card-details h2 {
    color: var(--accentMidPurple);
  }
  &:hover {
    filter: drop-shadow(4px 2px 20px var(--accentDarkPink));
  }

  & img {
    width: 310px;
  }

  & .card-details {
    padding: 1rem 1rem 2rem;
    line-height: 1.6;
  }

  & h2 {
    font-size: 1rem;
    transition: color 200ms;
  }
}

/* Landing Page Styling */
main:has(#landing-page) {
  height: 100vh;
  justify-content: center;
}

#landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .content {
    position: relative;
  }

  & p {
    max-width: 500px;
    text-align: center;
    margin: 0 0 2rem;
  }

  & ul {
    display: flex;

    & li:not(:last-of-type) {
      margin: 0 20px 0 0;
    }
  }

  & nav {
    width: fit-content;
    margin: 0 auto 2rem;

    & a {
      display: flex;

      & svg {
        margin: 0 10px 0 0;
      }
    }
  }

  /* Landing Page Socials */
  #socials {
    display: flex;
    align-items: center;
    justify-content: center;

    & p {
      margin: 0 5px 0 0;
      color: var(--accentMidPurple);
    }

    & ul {
      display: flex;

      & li:not(:last-of-type) {
        margin: 0 7px 0 0;
      }
    }
  }
}

header nav {
  width: fit-content;
  margin: 0 auto;
  & ul {
    display: inline-flex;
    width: 280px;
    justify-content: space-evenly;
    position: relative;
  }

  & a {
    transition: left 300ms ease-out;

    &.active {
      color: var(--accentMidPink);

      /* &::after {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 10px;
        background-color: var(--accentMidPink);
        top: 1.3rem;
        position: absolute;
        left: 10px;
      } */
    }
  }
}

#logo {
  margin: 0 0 1rem;
  filter: drop-shadow(2px 4px 6px var(--accentDarkBlue));

  & img {
    width: 300px;
    /*Small size: 80px*/
  }
}

/* Single Project Page */
main:has(#project-container) {
  justify-content: start;
}
#project-container {
  padding: 2rem;
  max-width: 800px;

  & #preview {
    margin: 0 0 1rem;
  }

  & #project-info {
    display: flex;
    gap: 2rem;

    & img {
      max-width: 100%;
    }
  }

  & .screenshot-container {
    & > img {
      max-width: 100%;
    }
  }

  & .project-details {
    & p {
      line-height: 1.6;
      font-size: 0.9rem;
    }
    & h3 {
      margin: 0 0 1rem;
      font-size: 2.8rem;
    }
    & .tags {
      margin: 2rem 0 1rem;
      display: flex;
      gap: 1rem;

      & li {
        text-align: center;
        padding: 3px 5px;
        text-transform: uppercase;
        font-size: 0.8rem;
        background-color: var(--accentMidNavy);
        border-radius: 2px;
      }
    }
  }

  & .options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem;

    & button {
      background-color: transparent;
      border: none;
      text-decoration: underline;
      color: var(--accentMidPurple);
      font-family: 'Azeret Mono';
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      font-weight: 700;
      text-underline-offset: 5px;
      transition: color 200ms ease-in-out;

      &:hover {
        color: var(--accentMidPink);
        cursor: pointer;
      }
    }

    & a {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
    }
  }

  & .links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0 0;

    & a {
      font-size: 0.9rem;
    }

    & svg {
      margin: 0 5px 0 0;
    }
  }
}

#project-info:has(img[alt='Screenshot of Multi-Step Form']) {
  flex-wrap: wrap;
}

/* About Styling */
#about {
  max-width: 800px;
  margin: 4rem 0;

  & #spinner-container {
    top: 100px;
    position: relative;
  }

  & h1 {
    font-size: clamp(1.8rem, 5vw, 3rem);
    max-width: 800px;
    margin: 4rem 0;
    color: var(--accentStrongPurple);
    text-align: center;
    margin: 0 auto;
    width: clamp(150px, 80vw, 615px);
  }

  & img {
    filter: drop-shadow(5px 5px 4px var(--darkTheme02));
  }

  & #intro {
    display: grid;
    grid-template-columns: 540px 1fr;
    grid-template-rows: 200px 1fr;

    & h2 {
      align-self: end;
      padding: clamp(5px, 3vw, 2rem) clamp(10px, 7vw, 3rem)
        clamp(5px, 3vw, 2rem) clamp(0px, 4vw, 2rem);
      /*padding: 2rem 3rem 2rem 2rem;*/
      font-size: 1.2rem;
      font-weight: normal;
      text-align: center;
      font-size: clamp(0.8rem, 3vw, 1.2rem);
    }

    & p {
      margin: auto;
      padding: 2rem 0 2rem 2rem;
      width: 300px;
    }

    & #portrait {
      width: 200px;
      grid-row: 1;
      grid-column: 2;
      position: relative;
      top: 40px;
      left: -40px;
      z-index: 2;
      width: clamp(70px, 20vw, 280px);
    }

    & #old_drawing {
      max-width: 540px;
      grid-row: 2 / span 2;
      grid-column: 1;
    }

    & .intro-details {
      grid-column: 2 / span 2;
      grid-row: 2;
      margin: auto;
      display: flex;
      flex-direction: column;
      padding: 2rem 0 2rem 2rem;
      gap: 2rem;
    }
  }

  #current-status-container {
    text-align: center;
    padding: 6rem 2rem 0;

    & h3 {
      font-size: clamp(1.8rem, 5vw, 2.8rem);
      color: var(--accentVeryLightPink);
    }

    & h4 {
      font-size: clamp(1.4rem, 5vw, 2.7rem);
      text-decoration: underline;
      text-underline-offset: 5px;
    }

    & p {
      margin: 2rem auto;
      width: 420px;
    }

    & button {
      font-size: clamp(1.2rem, 2vw, 1.4rem);
      transition: background-color 200ms;
      margin: 4rem auto;
      background-color: var(--accentMidNavy);
      padding: 1rem 2rem;
      font-family: 'Azeret Mono';
      border: none;
      color: var(--accentLightPurple);
      &:hover {
        cursor: pointer;
        background-color: #212a4d;
      }
    }
  }

  #about-me-container {
    margin: 8rem 0;
    display: flex;
    justify-content: center;
    position: relative;

    & #mini-me {
      position: absolute;
      width: 200px;
      top: -7rem;
      left: 6rem;
      z-index: 2;
    }

    & #a-little-bit-about-me-container {
      background-color: var(--darkTheme02);
      padding: clamp(10px, 10vw, 2rem) clamp(10px, 10vw, 3rem);
      position: relative;
      width: clamp(200px, 80vw, 450px);
      left: 100px;

      & h2 {
        color: var(--accentMidPurple);
        margin: 0 0 1rem;
        font-style: italic;
      }

      & ul {
        max-width: 380px;
        list-style-type: disc;
        list-style-position: inside;

        & li {
          font-size: clamp(0.9rem, 2vw, 1.3rem);
        }

        & li:not(:last-of-type) {
          margin: 0 0 0.3rem;
        }
      }
    }
  }
}

/* Gallery Styling */
#gallery-container {
  gap: 0.5rem;
  display: grid;
  margin: 4rem 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  position: relative;

  & h2 {
    color: var(--accentStrongPurple);
    text-transform: capitalize;
  }

  & .category {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & #spinner-container {
    position: absolute;
    justify-self: center;
    top: 150px;
  }
}

/* Spinner */
#spinner-container {
  text-align: center;
  padding: 1rem;
  margin: auto;

  & p {
    margin: 2rem 0 0;
  }
}

/* Contact Page */
main:has(#contact-container) {
  min-height: 40vh;
}
#contact-container {
  margin: auto;
  text-align: center;

  & h1 {
    color: var(--accentStrongPurple);
    margin: 0 0 1rem;
    font-size: clamp(1rem, 4.5vw, 2rem);
  }

  & #contact-actions-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    & button {
      transition: background-color 200ms;
      display: flex;
      gap: 1rem;
      align-items: center;
      background-color: var(--accentMidNavy);
      border: none;
      padding: 1rem 2rem;
      color: var(--accentLightPurple);
      font-family: 'Azeret Mono';
      font-size: clamp(1rem, 2.5vw, 1.2rem);

      &:hover {
        cursor: pointer;
        background-color: #212a4d;
      }
    }
  }

  & #socials {
    margin: 4rem 0 0;

    & ul {
      display: flex;
      justify-content: center;
      gap: 0.7rem;
    }
  }
}

/* Error Page */
main:has(#error-container) {
  width: 100vw;
  height: 70vh;
  align-items: center;
  justify-content: center;
}
#error-container {
  background-color: var(--darkTheme02);
  width: fit-content;
  padding: 2rem;
  text-align: center;
  width: clamp(140px, 88vw, 450px);

  & h2 {
    line-height: 1;
    margin: 0 0 0.3rem;
  }

  & a {
    margin: 1rem 0 0;
    display: block;
  }

  & #logo {
    margin: 0 auto 1rem;
    width: clamp(1rem, 10vw, 7rem);
  }
}

/* MEDIA QUERIES */
@media only screen and (max-width: 935px) {
  #gallery-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc(2165px + 2rem) auto;
  }
}

@media only screen and (max-width: 625px) {
  #gallery-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

@media only screen and (max-width: 903px) {
  /* About */
  #about {
    #intro {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      padding: 2rem;
      justify-content: center;

      & h2 {
        align-self: center;
        width: clamp(100px, 61vw, 61vw);
      }

      & #portrait {
        position: relative;
        margin: 0 0 2rem;
        align-self: center;
        scale: 1.5;
        left: initial;
      }

      & #old_drawing {
        max-width: 100%;
        width: clamp(200px, 82vw, 700px);
        margin: 0 auto;
      }

      & p {
        text-align: center;
        width: clamp(200px, 82vw, 500px);
        padding: 2rem 0;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  #about {
    #about-me-container {
      & #mini-me {
        position: relative;
        top: 1.5rem;
        left: initial;
        margin: 0 auto;
        display: block;
      }
      & #a-little-bit-about-me-container {
        left: initial;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 335px) {
  #about {
    & #intro {
      & h2 {
        width: 100%;
        padding: 0;
      }

      & #portrait {
        width: 100%;
        scale: 1;
        top: initial;
        margin: 2rem 0;
      }
    }
  }
}
